@model mvcmin.Models.Variables;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

@{
    Layout="_Layout";
    ViewData["Title"] = "Handling Arrays";
}

<div>
    <h1>@ViewData["Title"]</h1>
    <ul>
    @foreach (var item in Model.number_array!)
    {
        //The ! used above is to tell 
        //the compiler that I know this
        //is not a null array.  I made sure
        //of that before sending.
        <li>Number in range: @item</li>
    }
    </ul>
</div>